<div class="row justify-content-center form-container">
    <div class="col-lg-8">
      <h2>Changer mot de passe!</h2>
      <p>Entrez le code et votre nouveau mot de passe</p>
      <p *ngIf="success && !err" class="text-success">{{ success }}</p>
      <p *ngIf="err" class="text-danger">{{ err }}</p>
      <form [formGroup]="resetForm">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <img matPrefix class="mat-input-icon" src="assets/images/ic_mail.svg" width="19px" height="19px">
              <mat-label>Code</mat-label>
              <input formControlName="code" type="text" matInput placeholder="code">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <img matPrefix class="mat-input-icon" src="assets/images/ic_password.svg" width="19px" height="19px">
              <mat-label>Mot de passe</mat-label>
              <input formControlName="password" type="password" matInput placeholder="Mot de passe">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="w-100" appearance="fill" floatLabel="always">
                <img matPrefix class="mat-input-icon" src="assets/images/ic_password.svg" width="19px" height="19px">
                <mat-label>Mot de passe</mat-label>
                <input formControlName="passwordConfirmation" type="password" matInput placeholder="Confirmer mot de passe">
              </mat-form-field>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <button [disabled]="resetForm?.invalid"
                    (click)="resetPassword()"
                    class="btn btn-primary w-100">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  