<div class="row justify-content-center form-container">
    <div class="col-lg-8">
      <h2>Mot de passe oublié?</h2>
      <p>Entrer votre adresse mail pour continuer</p>
      <p *ngIf="success && !err" class="text-success">{{ success }}</p>
      <p *ngIf="err" class="text-danger">{{ err }}</p>
      <form [formGroup]="forgotPwdForm">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <img matPrefix class="mat-input-icon" src="assets/images/ic_mail.svg" width="19px" height="19px">
              <mat-label>E-mail</mat-label>
              <input formControlName="email" type="text" matInput placeholder="E-mail">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button [disabled]="forgotPwdForm?.invalid"
                    (click)="forgotPwd()"
                    class="btn btn-primary w-100">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  